prog_1.ipynb
flats_house_kg_1_100.csv
flats_house_kg_101_150.csv
concat_csv_files.ipynb
Download_errors.csv
flats_house_kg_251_400.csv
flats_house_kg_151_250.csv
flats_house_kg_401_500.csv
flats_house_kg_500_650.csv
photo_parser.ipynb
test1.csv
\images
.ipynb_checkpoints/concat_csv_files-checkpoint.ipynb
.ipynb_checkpoints/flats_image_parser-checkpoint.ipynb
.ipynb_checkpoints/photo_parser-checkpoint.ipynb
url_images.csv
image_data.csv
url_images_3019_3021.csv
url_images_3020_3021.csv
